
body {
    background-color: #151a2a;
    font-size: 20px;
    color: white;
}

/* Navigation Bars */

.upperNav {
    position: relative;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(to right, rgb(209, 69, 93), rgb(255, 115, 0));
    padding: 40px;
}

.nalohoLogo {
    float: right;
    height: 50px;
}

.upperNav * {
    display: inline;
}

.lowerNav {
    position: relative;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(to right,  rgb(255, 115, 0), rgb(209, 69, 93));
    padding: 20px;
}

.lowerNav * {
    display: inline;
}

nav {
    display: flex;
    align-items: center;
}

nav h4 {
    font-family: 'Ubuntu', sans-serif;;
}

nav h4 span {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
}

.separator {
    width: 100%;
    height: 5px;
    background-color: #0c0f18;
}

h4 {
    font-size: 45px;
    letter-spacing: 2px;
    padding: 0;
}

h6 {
    font-size: 30px;
    letter-spacing: 2px;
}

/* Lists and list items */

ul {
    position: relative;
    width: 100%;
    margin: 0;
}

ul li {
    list-style-type: square;
    padding: 0 10px 0 10px;
    margin: 10px;
}

ol li {
    padding: 0 10px 0 10px;
    margin: 10px;
}

.mainListItem a { /* class used solely for the list items on the front page */
    color: white;
    list-style-type: none;
    transition-duration: 1s;
}

.mainListItem a {
    color: white;
    text-decoration: none;
}

.mainListItem a:hover {
    text-decoration: underline rgb(209, 69, 93);
    cursor: pointer;
}



#text-container {
    padding: 10px;
}

#description-container {
    padding-top: 20px;
}

/* Other custom classes */

.bold {
    font-weight: bold;
}

.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* GitHub Logo */

.githubLogo {
    height: 70px;
    width: 70px;
    padding: 10px;
    box-sizing: content-box;
}

.githubLogoContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Row Spacing */

.firstRow {
    margin-top: 20px;
}

.lastRow {
    margin-bottom: 20px;
}

.col-sm-7 {
    padding: 10px;
}


/* Other Images */

#basicScheme {
    width: 40%;
    padding: 20px;
}

/* hiding the hyphen */
@media only screen and (max-width: 706px) {
    #hyphen {
        display: none;
    }

}

table {
    border-collapse: collapse;
    margin: 40px 0 40px 0;
    max-width: 500px;
}

table th, table td {
    background-color: #151a2a;
    border: 1px solid white;
    padding: 12px 20px;
    text-align: center;
}

.cell-info {
    background-color: rgb(125, 188, 207);
}

.table-container {
    overflow-x: auto;
}

.code-container {
    text-align: center;
    padding: 20px;
}

.italic {
    font-style: italic;
}

.no-top-border {
    border-top: 1px solid transparent;
}

.no-bottom-border {
    border-bottom: 1px solid transparent;
}

.dead-middle {
    text-align: center;
}

/* I have absolutely no idea how I managed to solve the issue with this, but I did :D */
.more-padding {
    padding: 0;
}

@media only screen and (min-width: 794px) { /* was 576px before */
    .affine-dec-table {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 461px) {
    .affine-enc-table-1 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 781px) {
    .affine-enc-table-2 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 640px) {
    .caesar-table {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 713px) {
    .vigenere-table-1 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (min-width: 768px) {
    .vigenere-table-2 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}