html, body {
    margin: 0;
    padding: 0;
}



body {
    height: 100%;
    width: 100%;
    color: black;
    background-color: #4C83D0;
    font-family: 'Open Sans', sans-serif;
}

#mainContainer {
    position: absolute;
    top: 30%;
    left: 50%;
}

#mainContainer * {
    transform: translate(-50%, -50%);
    text-align: center;
}

#greetings {
    font-size: 40px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

#githubRepository {
    padding: 15px;
    font-size: 20px;
    color: black;
    background: #4B6D9D;
    border-radius: 5px;
    border: none;
    outline: none;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in;
}

#githubRepository:hover {
    background: #739EDA;
}

#ps {
    letter-spacing: 2px;
}

#smiley {
    font-size: 30px;
}

/* Delete later? */
.rotated {
    transform: rotate(-90deg);
}
